body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div{
    height: 100vh;
    width: 100vw;
    background-color: rgb(210, 209, 209);
     display: flex;
     flex-direction: column;
    align-items: center;
  justify-content: center;
  gap: 1rem;
}
.button{
    color: rgb(0, 0, 1);
    font-size: large;
    background-color: rgb(237, 244, 251);
    height: 2rem;
    width: 10rem;
    border-radius: 2rem;
    
}

button:hover{
    background-color: rgb(34, 39, 44);
    color:white;
    cursor: pointer;
}